{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome {{fullname}} to my deli
  </h1>
  <p>
    Here you will see our menu for display, We are now operational again after a court case involved with the playlist company, 
    <br>please visit our lovely site and proceed to delete all our item's and our categories
  </p>
<h3>Number of delis made: {{totalDelis}} </h3>
<h3>Number of items listed {{totalitems}} </h3>
  <img src ="https://cdn.glitch.com/2a11bc96-056c-4c28-bf53-041133bd3cf7%2FIMG_0363.JPG?1555950644466">
</section>